.home {
  position: relative !important;
}

.productAlignment {
  position: absolute;
  text-align: center;
  z-index: 1;
}
.homepage-banner {
  margin-bottom: -300px;
  width: 100%;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .homepage-banner {
    margin-bottom: -100px;
  }
}
@media only screen and (max-width: 900px) {
  .homepage-banner {
    margin-bottom: -100px;
  }
}
